# App Configuration
APP_URL=http://app.Omieg.org/dashboard-4

# Admin Configuration
ADMIN_PASSWORD=OmiEG2026
JWT_SECRET=your_jwt_secret_here

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Gemini API Key
GEMINI_API_KEY=
